:root {
    color: #1f2937;
    font-size: 15px;
    --primary-color: #e7dfdf;
    --secondary-color: grey;
    --color-urgent: rgb(53, 23, 23);
    --color-normal: black;
    --soft-background-color: rgb(245, 245, 245);
    --hover-shade-color: antiquewhite;
    --exagerated-hover-color: rgb(236, 198, 148);
    --font-size-main: 1rem;
    --font-size-secondary: 0.8rem;
    --font-size-large: 1.8rem;
    --font-size-medium: 1.3rem;
    --darker-background: rgb(253, 253, 253);
    --primary-font: 'Times New Roman'; /* needs a fallback set*/
    --border-color: black;
    /* shamelessly stolen from my older projects */
    --shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../src/assets/images/starry-sunset.1920x1080.gif);
    padding: 4rem;
}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--primary-font);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 10px;
}

/* dom.Main */
.main {
    margin: 2rem 3rem 0 3rem;
    overflow: scroll;
}
.cat {
    font-size: var(--font-size-large);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.5rem;
}

.cat-description {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0 1rem;
}

.task-container {
    margin-top: 2.3rem;
}

.options-on-hover {
    border-bottom: none;
    margin-left: 1.5rem;
}

.options-on-hover:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.task-description {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.task-description.urgent,
.task-description.urgent + div {
    color: var(--color-urgent);
}

.task-description.normal {
    color: var(--color-normal);
}

.task-description.completed,
.task-description.completed + div{
    color: var(--color-normal);
    opacity: 0.4;
}

.due-display {
    border-left: 2px solid var(--border-color);
    background-color: var(--soft-background-color);
    padding: 0 2px;
}

.task-title,
.due-display {
    font-size: var(--font-size-medium);
    color: var(--color-normal);
}

.subtask-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtask-details-container:hover {
    background-color: var(--hover-shade-color);
    box-shadow: var(--shadow-default);
    transform: translateY(-1px);
}

.subtask-details {
    margin: 0.15rem 0;
}

.subtask-details.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.subtask-details.complete ~ .options-on-hover {
    opacity: 0.2;
}

.add-task {
    font-size: var(--font-size-medium);
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.add-subtask {
    margin: 0.2rem 0 2.3rem;
    opacity: 0.15;
    transition: opacity 0.2s ease;
}

.add-subtask:hover,
.add-task:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: var(--shadow-default);
}

.add-task:hover::before{
    content: ">";
}

.add-task:hover::after{
    content: "<";
}

/* Sidebar */

.logo-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#v-and-bruno-title {
    font-size: var(--font-size-medium);
}

#v-and-bruno-logo {
    width: 40px;
    margin-right: 1rem;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-container:active #v-and-bruno-logo {
    transform: translateY(-3px);
    rotate: 45deg;
}

.logo-container:active #v-and-bruno-title {
    visibility: hidden;
}

.logo-container:active #activate-logo::before {
    content: "RUNO";
    font-size: var(--font-size-medium);
    color: rgb(53, 136, 231);
    font-weight: bold;
    margin-left: -14px;
}

.date-obj-container {
    display: flex;
    align-items: center;
}

.date-cat,
.cats > div,
.add-cat {
    font-size: var(--font-size-medium);
    margin: 0.24rem 0.5rem;
}

.date-obj-container:hover {
    background-color: var(--hover-shade-color);
    cursor: pointer;
    box-shadow: var(--shadow-default);
}

.date-obj-container:hover svg {
    fill: var(--exagerated-hover-color);
}

.add-cat:hover {
    background-color: var(--soft-background-color);
    cursor: pointer;
    box-shadow: var(--shadow-default);
}

.cats > div:hover {
    box-shadow: var(--shadow-default);
    background-color: var(--hover-shade-color);
    cursor: pointer;
}



/* To-do:
1 - Our Logo that leads to the website
2 - Tasks under category showing (2-or 3)
3 - Visual hierarchy, with Work Tasks being bigger font than add Category and tasks
4 - (don't) yet work on the settings: only after completely finishing with this and modals
5 - Remove the ugly bold letters, use another way to get attention
6 - Highlight current selection, work with display-assist 


/* Modals */
.clear-modal {
    font-size: var(--font-size-medium);
}

/* Notes
1 - Do not add any colors till the end

2 - Work with whitespace, and css variables

3 - Add the gif in the back, our logo somewhere (probably the black and white version)

4 - Custom font

5 - Jazz music maybe? in the background. unrelated to css obviously

*/


/* as weird as it sounds, sidebar is going to be the hardest parts and css will work along with display-assist.

this is for a simple reason: under each cat, I want to display 2-3 tasks with their due-date and priority. display-assist should be doing that. 

Add Cat and settings should be binded to the bottom. DomMain must be fixed height, and rest scrollable

*/

/* Make the edit invisible, and visible only upon hovering on subtasks */