:root {
    font-size: 11px;
    --primary-color: white;
    --secondary-color: grey;
    --hover-shade-color: antiquewhite;
    --font-size-main: 1rem;
    --font-size-secondary: 0.8rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.3rem;
    --primary-font: 'Times New Roman';
    --border-color: black;
}

#content {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    height: 100%;
}

/* dom.Main */
.main {
    margin: 2rem 3rem 0 3rem;
}
.cat {
    font-size: var(--font-size-large);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.5rem;
}

.cat-description {
    display: flex;
    justify-content: space-between;
}

.options-on-hover.cat {
    border-bottom: none;
}

.options-on-hover:hover {
    cursor: pointer;
}

.task-description {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.due-display {
    border: 1px solid var(--border-color);
}

.task-title,
.due-display {
    font-size: var(--font-size-medium);
}

.subtask-details-container {
    display: flex;
    justify-content: space-between;
}

.subtask-details.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.subtask-details:hover {
    background-color: var(--hover-shade-color);
}

.add-subtask {
    margin: 0.3rem 0;
    opacity: 0.8;
}

.add-subtask:hover {
    opacity: 1;
    cursor: pointer;
}


/* Notes
1 - Do not add any colors till the end

2 - Work with whitespace, and css variables

3 - Add the gif in the back, our logo somewhere (probably the black and white version)

4 - Custom font

5 - Jazz music maybe? in the background. unrelated to css obviously

*/


/* as weird as it sounds, sidebar is going to be the hardest parts and css will work along with display-assist.

this is for a simple reason: under each cat, I want to display 2-3 tasks with their due-date and priority. display-assist should be doing that. 

Add Cat and settings should be binded to the bottom. DomMain must be fixed height, and rest scrollable

*/

/* Make the edit invisible, and visible only upon hovering on subtasks */